@font-face {
  font-family: "Public Sans Regular";
  src: url(../fonts/Public_Sans/static/PublicSans-Black.ttf);
  font-style: normal;
  font-weight: 400px;
}

@font-face {
  font-family: "Ibarra Real Nova Bold";
  src: url(../fonts/Ibarra_Real_Nova/static/IbarraRealNova-Bold.ttf);
  font-weight: 700px;
  font-style: normal;
}

@font-face {
  font-family: "Public Sans Bold";
  src: url(../fonts/Public_Sans/static/PublicSans-Bold.ttf);
  font-weight: 400px;
  font-style: normal;
}

@font-face {
  font-family: "PublicSans Thin_SemiBold";
  src: url(../fonts/Public_Sans/static/PublicSans-SemiBold.ttf);
  font-weight: 600px;
  font-style: normal;
}

@font-face {
  font-family: "Public Sans Bold Italic";
  src: url(../fonts/Public_Sans/static/PublicSans-BoldItalic.ttf);
  font-weight: 600px;
  font-style: italic;
}

@font-face {
  font-family: "Ibarra Real Nova Regular";
  src: url(../fonts/Ibarra_Real_Nova/static/IbarraRealNova-Bold.ttf);
  font-weight: 700px;
  font-style: normal;
}

@font-face {
  font-family: "Karla Bold";
  src: url(../fonts/Karla/static/Karla-Bold.ttf);
  font-weight: 600px;
  font-style: normal;
}
